@use "./assets/_colors.scss" as colors;

.modal {
	position: absolute;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(colors.$primary, 0.7);

	.modal-block {
		position: absolute;
		padding: 2em;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50vw;
		height: 50vh;
		background-color: colors.$background;
		border-radius: 5px;

		.modal-close {
			position: absolute;
			top: 1.25rem;
			right: 1.25rem;
			border: none;
			background-color: transparent;
			color: colors.$black;
			cursor: pointer;
		}

		.modal-title {
			color: colors.$black;
			font-size: 2rem;

			p {
				margin: 0;
			}
		}

		.modal-content {
			color: colors.$black;
			font-size: 1.5rem;
		}
	}


}